{% extends "base.html" %}
{% block title %}
Dom5 - {{game.name}}
{% endblock %}


{% block content %}
{{super()}}
<div class="container">

  <div class="row">

    <div class="col-lg-3">
      <h3> {{game.name}}, turn {{game.turn}} </h3>
      <img src="/thumb/{{game.map.thumbnail}}">
    </div>

    <div class="col-lg-2">
	 <br><br>
	 <h5> <b>status</b>: {{game.state}} </h5>
	 <h5> <b>address</b>: {{SERVER_ADDRESS}}:{{game.settings['port']}} </h5>
	 <h5> <b>connections</b>: {{game.connections}} </h5>
	 <h5> <b>local time</b>: year {{time.year}}, {{time.season[0]}} {{time.season[1]}} </h5>
    </div>

    <div class="col-lg-7">
	<br><br>
	<table class="table">
	  <tr>
	    <th>Nation</th>
	    <th></th>
	    <th>Turn</th>
	  </tr>
	{% for player_status in players %}
	  <tr>
	    <td>{{player_status[0]}}</td>
	    <td><i>{{"connected" if player_status[2]}}</i></td>
	    <td>{{player_status[1]}}</td>
	  </tr>
	{% endfor %}
	</table>
    </div>

  </div>

{% endblock %}

