{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
  
{% block content %}

{{ super() }}
<div class="page-header">
      <h1> {{ APP_NAME }} </h1>
<a href="{{url_for('new_game')}}">new game setup</a> <br>
browse supported <a href="{{url_for('map_directory')}}">maps</a> or <a href="{{url_for('mod_directory')}}">mods</a> <br>
random <a href="{{url_for('random_nation', era = 1)}}">early</a>, <a href="{{url_for('random_nation', era = 2)}}">middle</a>, <a href="{{url_for('random_nation', era = 3)}}">late</a> nation <br>
<a href="{{SRC_REPO_URL}}">source</a>
</div>

{% if game_info %}
<div class="container">
<div class="row">
<div class="col-sm-6">
<table class="table">
  <tr>
    <th>Active Games</th>
    <th>Status</th>
    <th>Turn</th>
    <th>Address</th>
  </tr>
{% for game in game_info %}
{% if not game.finished %}
  <tr>
    <td><a href="{{url_for('game_status', name=game.name)}}">{{game.name}}</a></td>
    <td>{{game.state}}</td>
    <td>{{game.turn}}</td>
    <td>{{SERVER_ADDRESS}}:{{game.port}}</td>
  </tr>

{% endif %}
{% endfor %}
</table>
</div>
<div class="col-sm-6">
<table class="table">
  <tr>
    <th>Past Games</th>
  </tr>
{% for game in game_info %}
{% if game.finished %}
  </tr>
    <td>{{ game.name }}</td>
  </tr>
{% endif %}
{% endfor %}
</table>
</div>
</div>
</div>
</div>
{% else %}
Waiting for game status...
{% endif %}
{% endblock %}
